# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.venv/
env/
venv/

# Archivos de Jupyter
.ipynb_checkpoints

# Datos y modelos pesados
data/
datasets/
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.joblib
*.npz
*.npy

# Configuración del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos temporales
*.swp
*.tmp
*.bak

# Archivos ocultos de IDEs
.vscode/
.idea/
data/
